
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: white;
}

li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20%;
}

.logo{
    cursor: pointer;
    width: 90px;
}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0% 20px;
}
.links li a{
    transition: all 0.3s ease 0s;
}

.links li a:hover{
    color: cornflowerblue;
}

.letras{
    margin-left: 200px;
    margin-top: 100px;
    color: rgba(169, 169, 169, 0.791);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.nombre{
    margin-left: 200px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
.iconos{
    margin-left: 200px;
}
.iconos i {
    font-size: 30px;
    margin-right: 30px;
    margin-top: 30px;
}